body {
  font: "Lato", Helvetica, Arial, sans-serif;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: none !important;
}

#hashTagDiv {
  position: relative;
  left: 39%;
  top: 5%;
}

#hashTagDiv button {
  margin-top: 4vh;
}

.input-group-addon {
  background-color: transparent;
  border: none;
  border-color: none;
}

*:focus {
  box-shadow: none !important;
  outline: 0px !important;
  -webkit-appearance: none;
}